<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.ting.mapper.SysRoleUserMapper">

	<!--实体映射-->
	<resultMap id="BaseResultMap" type="com.java.ting.domain.SysRoleUser">
		<id property="adminUserId" column="admin_user_id" />
		<result property="sysRoleId" column="sys_role_id" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	sys_role_id
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sys_role_user
		 WHERE admin_user_id = #{adminUserId}
	</select>

	<!-- 分页查询 -->
	<select id="getByPage" resultMap="BaseResultMap" resultType="com.java.ting.domain.SysRoleUser">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sys_role_user where del_flag =0 
		 <if test=" sysRoleUser != null">
			<if test="sysRoleUser.adminUserId != null">
			   and admin_user_id = #{sysRoleUser.adminUserId}
			</if>
			<if test="sysRoleUser.sysRoleId != null">
			   and sys_role_id = #{sysRoleUser.sysRoleId}
			</if>
		 </if>
		 <if test="orderColumn != null">
			 order by ${orderColumn} 
		 </if>
		 <if test="orderType != null">
			 ${orderType} 
		 </if>
		 <if test="start != null and limit != null">
			 limit #{start}, #{limit}
		 </if>
	</select>

	<!-- 简单查询 -->
	<select id="getListByCondition" resultMap="BaseResultMap" resultType="com.java.ting.domain.SysRoleUser">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sys_role_user where del_flag = 0 
		 <if test=" sysRoleUser != null">
			<if test="sysRoleUser.adminUserId != null">
			   and admin_user_id = #{sysRoleUser.adminUserId}
			</if>
			<if test="sysRoleUser.sysRoleId != null">
			   and sys_role_id = #{sysRoleUser.sysRoleId}
			</if>
		 </if>
	</select>

	<!-- 单条查询 -->
	<select id="getOneByCondition" resultMap="BaseResultMap" resultType="com.java.ting.domain.SysRoleUser">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sys_role_user where del_flag = 0 
		 <if test=" sysRoleUser != null">
			<if test="sysRoleUser.adminUserId != null">
			   and admin_user_id = #{sysRoleUser.adminUserId}
			</if>
			<if test="sysRoleUser.sysRoleId != null">
			   and sys_role_id = #{sysRoleUser.sysRoleId}
			</if>
		 </if>
	</select>

	<!-- 数量查询 -->
	<select id="getCountByCondition" resultType="java.lang.Integer">
		 SELECT
		 count(id) 
		 FROM sys_role_user where del_flag = 0 
		 <if test=" sysRoleUser != null">
			<if test="sysRoleUser.adminUserId != null">
			   and admin_user_id = #{sysRoleUser.adminUserId}
			</if>
			<if test="sysRoleUser.sysRoleId != null">
			   and sys_role_id = #{sysRoleUser.sysRoleId}
			</if>
		 </if>
	</select>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.java.ting.domain.SysRoleUser">
		 INSERT INTO sys_role_user
 		(admin_user_id,sys_role_id) 
		 VALUES 
 		(#{adminUserId},#{sysRoleId}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.java.ting.domain.SysRoleUser">
		 INSERT INTO sys_role_user
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="adminUserId != null">
				 admin_user_id,
			</if>
			<if test="sysRoleId != null">
				 sys_role_id,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="adminUserId!=null">
				 #{adminUserId},
			</if>
			<if test="sysRoleId!=null">
				 #{sysRoleId},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.java.ting.domain.SysRoleUser">
		 UPDATE sys_role_user
 		 <set> 
			<if test="sysRoleId != null">
				 sys_role_id = #{sysRoleId},
			</if>

 		 </set>
		 WHERE admin_user_id = #{adminUserId}
	</update>

</mapper>